/src/FileProperties.class
/out/production/ccwc/FileProperties.class
/.idea/vcs.xml
/.idea/uiDesigner.xml
/out/production/ccwc/test.txt
/.idea/modules.xml
/.idea/misc.xml
/src/Main.class
/ccwc.iml
/out/production/ccwc/Main.class
/.idea/.gitignore
src/json_parser/Main.class
out/production/